.mainsquare {background-color: black;
              color: white;
              margin: 10px;
              width: 1200px;
              height: 1200px; 
}

  .red{
    background-color:red;
    border: 8px black solid;
    height:606px;
    width:588px;
    position:absolute;
    right:59.79%;
    top:1.5%;
  }
  .white1{
    background-color:white;
    border: 8px black solid;
    height:588.8px;
    width:640.21px;
    position:absolute;
    right:19.49%;
    top:1.5%;
  }  
  .white2{
    background-color:white;
    border: 8px black solid;
    height:588.19px;
    width:548.19px;
    position:absolute;
    right:62.38%;
    top:85%;
  }  
  .white3{
    background-color:white;
    border: 8px black solid;
    height:500px;
    width:535px;
    position:absolute;
    right:26.49%;
    top:85.2%;
  }  
  .white4{
    background-color:white;
    border: 8px black solid;
    height:350px;
    width:98.6px;
    position:absolute;
    right:19.49%;
    top:118.3%;
  }  
  .yellow{
    background-color:yellow;
    border: 8px black solid;
    height:480px;
    width:535px;
    position:absolute;
    right:42%;
    top:99.99%;
  }
  .blue{
    background-color:darkblue;
    border: 8px black solid;
    height:500px;
    width:800px;
    position:absolute;
    right:19.49%;
    top:85.2%;
  }  

  
 
       